<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    (click)="onSideNavToggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <span style="cursor: pointer" (click)="navigateToHome()">Availity</span>
  <span class="example-spacer"></span>
  <button
    title="Logout"
    mat-icon-button
    class="example-icon favorite-icon"
    (click)="signOut()"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
